# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env files
.env
.env.local
.env.*.local
oracle/.env

# build
contracts/target/

# misc
.DS_Store
*.pem
*.keystore

# testing
/coverage

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
